:local.body
  background-color red
  background-image url(./building.jpg)
  background-size cover
  background-blend-mode multiply

  &:before
    content ''
    height 100%
    display inline-block
    vertical-align middle

:local.bodyWrapper
  display inline-block
  vertical-align middle
  padding 0 px(100)
  text-align center
  width 99%
