@require '../../styles/variables'

:local(.example)
  color mainColor
  font-size px(40)
  font-weight 500
:local(.link)
  color mainColor
  position relative
  &:before
    content ''
    position absolute
    top px(22)
    left px(-2)
    right @left
    bottom px(-1)
    background-color yellow
  &:hover:before
    background-color mainColor


:local.p
  color mainColor
