:local(.example)
  color mainColor
  font-size px(40)
  font-weight 500
:local(.link)
  color mainColor
  position relative
  &:before
    content ''
    position absolute
    top px(23)
    bottom px(-1)
    transition 300ms
    background-color yellow
    right px(2)
    left @right

  &:hover
    color yellow
    &:before
      left px(-2)
      right px(-2)

:local.p
  color mainColor
