:local(.example)
  color mainColor
  font-size px(40)
  font-weight 500
:local(.link)
  color mainColor
  position relative
  &:before
  &:after
    content ''
    position absolute
    top px(22)
    bottom px(-1)
    transition 300ms

  &:after
    background-color mainColor
    right 0
    left 0

  &:hover:after
    left 100%

  &:before
    background-color yellow
    right 100%
    left 0

  &:hover:before
    right 0


:local.p
  color mainColor
